
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Principal</title>
	
<script src="../Public/js/jquery.min.js"></script>
	<link rel="stylesheet" href="../Public/css/principal.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
</head>
<body>

	<div class="despliege_mini">
		 	
		 			<div class="hr_1"></div>
			   	 	<div class="hr_2"></div>
			   	 	<div class="hr_3"></div>

	</div>

	

	<div class="menu">
		 <div class="logo">
		 	Club Tecnologico
		 </div>
		 <div class="perfil">

		 	<figure>
		 		<img id="imgperfil" src="../Public/fotosperfiles/" alt="">
		 	</figure>

		 	<strong>nombre xd</strong>

		 	<hr/>


		 	<div class="navegacion">

		 		<nav>
		 			<ul>
		 				<li id="cog">Configuración</li>
		 				<li><a href="">Cerrar Session</a></li>
		 			</ul>
		 		</nav>
		 		
		 	</div>
		 	
		 </div>
	</div>

	<div class="mensajeria">

		<div class="buzon">

			<div class="buzon_rec">
				 <div class="I">
				 	<div class="cont">
				 		<strong> TU : </strong>
				 		<p>Hola Mundo Como esta Todos gola esto es un texto Largo</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>Hola Mundo Como esta Todos gola esto es un texto Largo</p>
				 	</div>
				 </div>

				  <div class="I">
				 	<div class="cont">
				 		<strong> TU : </strong>
				 		<p>Hola Mundo Como esta Todos gola esto es un texto Largo</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>s</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>s</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>s</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>s</p>
				 	</div>
				 </div>

				  <div class="I">
				 	<div class="cont">
				 		<strong> TU : </strong>
				 		<p>Hola Mundo Como esta Todos gola esto es un texto Largo</p>
				 	</div>
				 </div>

				 <div class="you">
					 <div class="cont">
				 		<strong>  : Javier</strong>
				 		<p>Hola Mundo Como esta Todos gola esto es un texto Largo</p>
				 	</div>
				 </div>

			</div>
			 
		</div>

		
		<div class="escribir">
			<textarea placeholder="Mensaje......" class="mens" ">
			
		    </textarea>
		    <div class="envio">
		    	<input type="button" value="Enviar" ">
		    </div>
		</div>
	</div>
   

   <div id="modal">
   	    
   	    <div class="cont_modal">
   	          <h3>Configuración</h3>

   	          <div class="body-contenedor">
   	          	<form action="">

   	          		    <div class="form">
   	          		    	<label for="name">
		   	          		Nombre :  
			   	          	</label>

			   	          	<input type="text" name="" id="name">

			   	          	<label for="correo">
			   	          		Apellidos :  
			   	          	</label>

			   	          	<input type="text" name="" id="apellidos">

			   	            <label for="user">
			   	          		Usuario :  
			   	          	</label>

			   	          	<input type="text" name="" id="user">

			   	          	<label for="contra">
			   	          		Contraseña :  
			   	          	</label>

			   	          	<input type="password" name="" id="contra">

			   	          	<center>
			   	          		<label id="ft" for="foto">
                            	  Subir Foto
                                </label>
			   	          	</center>
                            
			   	          	<input type="file" id="foto" name="fo">
   	          		    </div>

 

		   	          	<center>
		   	          		<input type="button" value="Modificar" id="modifi">
		   	          	</center>
                </form>

   	          </div>

   	    </div>

   </div>


	<div class="capa">
		
	</div>
</body>

<script type="text/javascript" src="../Public/js/principal.js"></script>

</html>